---
import { geti18n } from "../i18n";
let { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
const { TITLE, SUBTITLE, DESCRIPTION } = i18n.ABOUT_ME;
---

<section id="aboutme" class="container__aboutme">
  <h2>{TITLE}</h2>
  <span>{SUBTITLE}</span>
  <p>
    {DESCRIPTION}
  </p>
</section>

<style>
  .container__aboutme {
    background-color: var(--pink);
    border-radius: 1.5rem;
    color: var(--black);
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    gap: 1.25rem;
    height: 650px;
    justify-content: center;
    padding: 2.5rem;
    text-align: start;
    width: 50%;
    & h2 {
      color: var(--white);
      font-family: "Concert One", sans-serif;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    & span {
      font-size: 2rem;
    }
  }
  @media (max-width: 769px) {
  .container__aboutme{
    width: 85%;
    height: 500px;
  }
  }
  @media (max-width: 426px) {
    .container__aboutme{
      width: 90%;
      height: auto;
      text-align: center;
     &  h2{
        font-size: 2rem;
      }
     & span{
        font-size: 1.5rem;
      }
     & p{
        font-size: 1rem;
      }
    }
  }
</style>
