---

---

<section id="aboutme" class="container flex__center">
  <figure class="img__container">
    <img src="./images/logic.svg" alt="illustration" />
  </figure>
  <div class="info__container flex__center">
    <div class="subtitle__container">
      <h2>About me</h2>
      <span class="text__gradient">A little piece of me</span>
    </div>
    <p>
      I have experience in frontend software development and a strong interest
      in UX/UI design. My goal is to apply my skills in a professional
      environment to contribute to the creation of intuitive and visually
      appealing interfaces, always aiming to develop innovative solutions. I
      enjoy collaborating in teams and am motivated by the challenge of
      enhancing user experience through design and technology. Additionally, I
      like to hang out with friends, enjoy coffee, and listen to music.
    </p>
  </div>
</section>

<style>
  .container{
    gap: 5rem;
  }
  .img__container{
    width: 40%;
    object-fit: contain;
    & img{
      width: 100%;
    }
  }
  .info__container{
    text-align: center;
    flex-direction: column;
    width: 40%;
  }
</style>
