---

---

<section id="home" class="flex__center">
  <div class="info__container">
    <span class="name">Hi I'm Monica</span>
    <div>
      <h1 class="title">Computer Systems Engineer.</h1>
      <p class="description">
        As a final semester student of Computer Systems Engineering, with
        expertise in frontend development and an interest in UX/UI design, I aim
        to apply my skills and knowledge in a professional environment. My goal
        is to contribute to the creation of intuitive and visually appealing
        user interfaces, collaborating with multidisciplinary teams to develop
        innovative solutions.
      </p>
    </div>
    <div class="link__container">
      <a href="cv-MonicaAngulo.pdf" target="_blank">
        <button class="cv__button"> Descargar CV </button>
      </a>
      <p>Go to GitHub</p>
    </div>
  </div>
  <figure class="img__container">
    <img src="./images/home-image.png" alt="dev_focus" />
  </figure>
</section>

<style>
  #home {
    margin-top: 5rem;
    display: flex;
    gap: 8rem;
    justify-content: center;
    background-color: var(--white);
    width: 100%;
    height: 90vh;;
  }
  .info__container {
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 3rem;
    text-align: left;
    width: 40%;
    max-width: 500px;

    & .name {
      font-size: 2.5rem;
      font-weight: 500;
    }
    & .title {
      font-size: 1.75rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    & .description {
      font-weight: 300;
    }
  }
  .img__container {
    object-fit: cover;
    max-width: 500px;
    & img {
      width: 100%;
      height: auto;
    }
  }

  .link__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease-in-out;

    & p{
      font-weight: 300;;
    }
  }
  .cv__button {
    background-color: var(--green);
    border: none;
    border-radius: 1rem;
    color: var(--white);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    width: 130px;

    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 426px) {
    #home {
      flex-direction: column;
    }
    .info__container {
      width: 85%;
    }
  }
</style>
