---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I´m Monica Angulo, a software developer specialized in web technologies with a focus on frontend development."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Monica Angulo" />
    <meta
      name="keywords"
      content="Monica Angulo, moniicangulo software developer, web technologies, Frony end"
    />
    <meta
      property="og:title"
      content="Monica Angulo | Software developer specialized in web technologies with a focus on frontend development."
    />
    <meta
      property="og:description"
      content="I´m Monica Angulo, a soffware developer specialized in web technologies"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="body">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --dark-backround: #13061c;
    --light-purple: #da73e7;
    --mauve: #caa8f5;
    --light-text: #f9f7fc;
    --second-text: #727272;
    --gradient: linear-gradient(
      to right,
      var(--light-purple),
      var(--light-text)
    );
    --gradient-invert: linear-gradient(
      to right,
      var(--light-text),
      var(--light-purple)
    );
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Poppins", sans-serif;
    background: var(--dark-backround);
    color: var(--light-text);
    color-scheme: light dark;
  }
  li {
    list-style: none;
  }
  a {
    color: var(--light-text);
    text-decoration: none;
  }
  .body {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .text__gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .flex__center {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .flex__start {
    align-items: start;
    display: flex;
    justify-content: start;
    gap: 1rem;
  }
  .subtitle__container {
    text-align: center;
    & h2 {
      font-size: 3rem;
      font-weight: 500;
    }
  }
</style>
